.footer {
    text-align: center;
}

.footer__title {
    margin: 0;
    font-weight: bold;
    font-size: 1.0625rem;
    color: #222;
}

.footer__copyright {
    font-size: 0.6875rem;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 33px;
}
