@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Medium.ttf);
}

body {
    background: #fff;
    font-family: "Gilroy";
    color: #73738d;
}

@media screen and (max-width: 768px) {
    h1,
    h2,
    p {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    color: #73738d;
}

p {
    font-size: 0.9375rem;
}

h2 {
    font-size: 1.5625rem;
    color: #222;
    font-weight: bold;
}

ul {
    padding: 0;
}

.container {
    max-width: 820px;
    margin: 0 auto;
}

@media screen and (max-width: 790px) {
    .container {
        padding: 0 20px;
    }
}
.box-shadow {
    box-shadow: 0rem 0.8663rem 3.4653rem #f2f5fa;
}
