.reminders {
    display: flex;
    justify-content: space-between;
    margin-top: 6.25rem;
}

.reminders__people-container__item {
    max-width: 21.4244rem;
    height: 4.1581rem;
    display: flex;
    align-items: center;
    border-radius: 1.0625rem;
    padding-left: 1.0625rem;
    padding-right: 1.0625rem;
}

.reminders__people-container__item__text {
    font-size: 0.6875rem;
    color: rgba(34, 34, 34, 0.8);
    margin-left: 0.5rem;
}

.bold {
    color: #222;
    font-weight: 600;
}

.follow-up {
    font-weight: 600;
    color: #26c296;
}

.reminders__inner {
    max-width: 21.5rem;
}

.reminders__inner__heading {
    margin-top: 0;
}

.reminders__inner__list {
    padding-left: 0.9375rem;
    width: 13.125rem;
    height: 3.125rem;
    display: grid;
    grid-template-columns: 7.625rem 6.5625rem;
    grid-template-rows: 2.0625rem 1.0625rem;
    list-style-image: url("../images/green-checkmark.svg");
    font-size: 0.6875rem;
}

@media screen and (max-width: 768px) {
    .reminders {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .reminders__inner__list {
        margin: 0 auto;
    }
}
