.sync {
    display: flex;
    margin-top: 90px;
    padding-left: 90px;
}

.sync__inner {
    width: 370px;
    padding-right: 53px;
}

.sync__inner__refresh-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51.98px;
    height: 51.98px;
    background: #E4F7F2;
    border-radius: 31.8806px;
}

.sync__inner__list {
    margin-left: 12px;
    width: 320px;
    height: 20px;
    display: grid;
    grid-template-columns: 143px 164px;
    grid-template-rows: 33px 17px;
    list-style: none;
    list-style-image: url('../images/green-checkmark.svg');
    font-size: 11px;
}

.sync__profile {
    width: 352.07px;
    height: 209.3px;
    margin-top: 80px;
    border-radius: 20.7917px;
}
.sync__profile__heading {
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-left: 17px;
}

.sync__profile__heading__name {
    margin: 0;
    color: #222;
    font-size: 17px;
    margin-left: 8px;
    font-weight: 600;
}

.sync__profile__heading__position {
    margin: 0;
    color: #222;
    font-size: 11px;
    margin-left: 8px;
    font-weight: 500;
}

.sync__profile__more {
    margin-top: 17px;
    margin-bottom: 0;
    margin-left: 17px;
}

.sync__profile__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    margin-left: 17px;
    margin-top: 14px;
}

.sync__profile__item {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.sync__profile__item__icon {
    padding-right: 9px;
}