.sync {
    display: flex;
    justify-content: space-between;
    margin-top: 5.625rem;
}

.sync__inner {
    width: 23.125rem;
}

.sync__inner__refresh-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2487rem;
    height: 3.2487rem;
    background: #e4f7f2;
    border-radius: 1.9925rem;
}

.sync__inner__refresh-icon > img {
    animation: spin 4s linear infinite;
}

.sync__inner__list {
    padding-left: 0.9375rem;
    width: 20rem;
    height: 1.25rem;
    display: grid;
    grid-template-columns: 8.9375rem 10.25rem;
    grid-template-rows: 2.0625rem 1.0625rem;
    list-style: none;
    list-style-image: url("../images/green-checkmark.svg");
    font-size: 0.6875rem;
}

.sync__profile {
    width: 22.0044rem;
    height: 13.08125rem;
    margin-top: 5rem;
    border-radius: 1.29948125rem;
}
.sync__profile__heading {
    display: flex;
    align-items: center;
    margin-top: 1.0625rem;
    margin-left: 1.0625rem;
}

.sync__profile__heading__name {
    margin: 0;
    color: #222;
    font-size: 1.0625rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

.sync__profile__heading__position {
    margin: 0;
    color: #222;
    font-size: 0.6875rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

.sync__profile__more {
    margin-top: 1.0625rem;
    margin-bottom: 0;
    margin-left: 1.0625rem;
}

.sync__profile__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.625rem;
    margin-left: 1.0625rem;
    margin-top: 0.875rem;
}

.sync__profile__item {
    display: flex;
    align-items: center;
    font-size: 0.6875rem;
}

.sync__profile__item__icon {
    padding-right: 0.5625rem;
}

@media screen and (max-width: 768px) {
    .sync {
        flex-direction: column;
        align-items: center;
    }

    .sync__inner__list {
        margin-left: auto;
        margin-right: auto;
    }
}
